<%= render "shared/blog_header" %>

<div class="bg-light py-3">
  <div class="container">
    <div class="col-md-12">
      <h1>Edytuj blog</h1>

      <%= render 'form', blog: @blog %>
    </div>
  </div>
</div>
