<%= render "shared/blog_header" %>

<div class="bg-light py-3">
  <div class="container">
    <% if logged_in?(:site_admin) %>
      <div class="row">
        <div class="col-md-12 mb-4">
          <%= link_to 'Nowy Blog', new_blog_path, class: "pull-right" if logged_in?(:site_admin) %>
        </div>
      </div>
    <% end %>

    <%= render @blogs %>

    <div class="row">
      <div class="col-12">
        <%= paginate @blogs %>
      </div>
    </div>
  </div>
</div>
