<% content_for :title, "Przepisy dietetyczne - Gabinet Równowaga" %>
<%= render "shared/recipes_header" %>

<div class="bg-light py-3">
  <div class="container">
    <div class="col-md-12">
      <h1>Dodaj przepis</h1>

      <%= render 'form', recipe: @recipe %>
    </div>
  </div>
</div>
