<div class="about-me-header">
  <div class="container">
    <div class="jumbotron">
      <div class="panel col-12 col-md-6 p-3 rounded text-light">
        <blockquote class="blockquote">
          <p class="mb-0">"Warunkiem przemiany jest wytrwałość. Każda trwała przemiana wymaga czasu i wysiłku."</p>
          <footer class="blockquote-footer text-primary-light">Albert Camus</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
