<div class="bg-white py-5">
  <div id="bmi" class="container py-5">
    <div class="row w-100 m-0">
      <div class="col-12 col-lg-4 p-0">
        <h2 class="h1 englebert-600 text-center text-lg-left">Kalkulator BMI</h2>
        <div class="header-underline mx-lg-0"></div>
        
        <div class="row form-group form-inline justify-content-center justify-content-lg-start px-3 pt-3">
          <label for="height" class="d-inline">Wzrost:</label>
          <div class="input-group">
            <input type="text" autocomplete="off" class="form-control" id="height" aria-describedby="cm-unit" />
            <div id ="height-append" class="input-group-append">
              <span id="cm-unit" class="input-group-text">cm</span>
            </div>
          </div>
        </div>
  
        <div class="row form-group form-inline justify-content-center justify-content-lg-start px-3">
          <label for="weight" class="d-inline">Waga:</label>
          <div class="input-group">
            <input type="text" autocomplete="off" class="form-control" id="weight" aria-describedby="kg-unit" />
            <div class="input-group-append">
              <span id="kg-unit" class="input-group-text">kg</span>
            </div>
          </div>
        </div>
        
        <div class="row pt-2 pl-md-3 form-group form-inline justify-content-center justify-content-lg-start">
          <input type="submit" class="btn btn-primary" value="Zatwierdź" onclick="calculateBMI();">
        </div>
      </div>
        
      <div class="col-12 col-lg-8 d-flex align-items-center justify-content-center">
        <i id="bmi-question" class="fa icon-help fa-big text-primary d-none d-lg-block"></i>
        <div id="bmi-result" class="bg-light rounded d-none">
          <div class="card-deck flex-column p-3 flex-lg-row">
            <div class="card mb-3 mb-md-0 p-3">
              <div id="bmiDescr" class="col-12 text-justify" >
        				<h4 class="text-primary">Twoje BMI: <span id="output"></span></h4>
        				<div class="text-primary h4"><span id="comment"></span> </div>
        				<div id="bmi-description" ></div>
        			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>