<div class="bg-primary-light text-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        
	      <a target="_blank" class="google-map w-100" href="https://www.google.com/maps/place/aleja+Grunwaldzka+76,+Gda%C5%84sk/@54.3772769,18.6085827,18z/data=!3m1!4b1!4m5!3m4!1s0x46fd7494237fde27:0xa9471cdddbda897!8m2!3d54.3772769!4d18.6093565" >
			    <img class="img-map" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAaCjzAFc6QAQq9NN-UAuncO-W3ZPkdzYY&center=54.38008248278,18.60375881195&zoom=15&scale=1&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C54.37733616018838,18.60883355140686" alt="Gabinet Rowanowaga Google Map" />	
        </a>
			  
      </div>
      <div class="col-12 col-md-4 p-5">
        <hr>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-phone fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>+48 883 657 833</p>
          </div>
        </div>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-envelope-o fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
						<p id="ide"> </p>
						<script>
                var username = "gab.rownowaga";
    						var hostname = "gmail.com";
    						var res = username + "@" + hostname;
                $('#ide').text(res);
						</script>
          </div>
        </div>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>80-244 Gdańsk<br>Grunwaldzka 76/78<br>pok. 426</p>
          </div>
        </div>

        <div class="row">
          <nav class="nav mx-auto">
            <a href="https://www.facebook.com/dietetykgdanskwrzeszcz/" class="nav-link"><%= fa_icon "facebook 2x" %></a>
            <a href="#" class="nav-link"><%= fa_icon "linkedin 2x" %></a>
            <a href="#" class="nav-link"><%= fa_icon "twitter 2x" %></a>
          </nav>
        </div>

        <hr>
      </div>
    </div>
  </div>
</div>
