<div class="bg-primary-light text-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="map-container">
				  <div class="map" id="map"></div>
			  </div>
      </div>
      <div class="col-sm-4 p-5">
        <hr>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-phone fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>+48 883 657 833</p>
          </div>
        </div>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-envelope-o fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>gab.rownowaga@gmail.com</p>
          </div>
        </div>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>80-280 Gdańsk-Wrzeszcz</br>ul. M. Hemara 3/U5</p>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-1">
            <i class="fa fa-clock-o fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>Godziny konsultacji:</p>
            <p>Wt 11:30-15:30</p>
            <p>Pt 11:30-15:30</p>
          </div>
        </div> -->

        <div class="row">
          <nav class="nav mx-auto">
            <a href="#" class="nav-link"><%= fa_icon "facebook 2x" %></a>
            <a href="#" class="nav-link"><%= fa_icon "instagram 2x" %></a>
            <a href="#" class="nav-link"><%= fa_icon "twitter 2x" %></a>
          </nav>
        </div>

        <hr>
      </div>
    </div>
  </div>
</div>
