<div class="bg-primary-light text-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 p-5">
        <hr>

        <div class="row">
          <div class="col-1">
            <i class="fa fa-phone fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-8">
            <p>+48 883 657 833</p>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <i class="fa fa-envelope-o fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-8">
            <p>gab.rownowaga@gmail.com</p>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <i class="fa fa-address-card-o fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-8">
            <p>80-280 Gdańsk-Wrzeszcz</p>
            <p>ul. M. Hemara 3/U5</p>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <i class="fa fa-clock-o fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-8">
            <p>Godziny konsultacji:</p>
            <p>Wt 11:30-15:30</p>
            <p>Pt 11:30-15:30</p>
          </div>
        </div>

        <hr>
      </div>
      <div class="col-sm-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6026.477121263825!2d18.5934788569749!3d54.383049037883126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3cd7c4eada1b8ed4!2sGaleria+Ba%C5%82tycka!5e0!3m2!1spl!2spl!4v1508445166202" class="w-100 h-100" frameborder="0" style="border:0; min-height:400px;" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
