<div class="bg-primary-light text-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="map-container">
				  <a href="https://www.google.com/maps/place/54.37733616018838,18.60883355140686/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=54.38008248278,18.60375881195&zoom=15&scale=1&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff2d2d%7Clabel:%7C54.37733616018838,18.60883355140686" alt="Google Map of 54.38008248278,18.60375881195"></a>
			  </div>
      </div>
      <div class="col-12 col-md-4 p-5">
        <hr>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-phone fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>+48 883 657 833</p>
          </div>
        </div>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-envelope-o fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <script language="JavaScript">
							var username = "gab.rownowaga";
							var hostname = "gmail.com";
							document.write(username + "@" + hostname);
						</script>
          </div>
        </div>

        <div class="row mx-auto">
          <div class="col-1">
            <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>80-244 Gdańsk</br>Grunwaldzka 76/78</br>pok. 426</p>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-1">
            <i class="fa fa-clock-o fa-2" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <p>Godziny konsultacji:</p>
            <p>Wt 11:30-15:30</p>
            <p>Pt 11:30-15:30</p>
          </div>
        </div> -->

        <div class="row">
          <nav class="nav mx-auto">
            <a href="https://www.facebook.com/dietetykgdanskwrzeszcz/" class="nav-link"><%= fa_icon "facebook 2x" %></a>
            <a href="#" class="nav-link"><%= fa_icon "linkedin 2x" %></a>
            <a href="#" class="nav-link"><%= fa_icon "twitter 2x" %></a>
          </nav>
        </div>

        <hr>
      </div>
    </div>
  </div>
</div>
