<div class="bg-light-green text-primary py-3">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 col-lg-8">
	      <a target="_blank" class="google-map w-100" href="https://www.google.com/maps/place/aleja+Grunwaldzka+76,+Gda%C5%84sk/@54.3772769,18.6085827,18z/data=!3m1!4b1!4m5!3m4!1s0x46fd7494237fde27:0xa9471cdddbda897!8m2!3d54.3772769!4d18.6093565" >
			    <img class="img-map" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAaCjzAFc6QAQq9NN-UAuncO-W3ZPkdzYY&center=54.38008248278,18.60375881195&zoom=15&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0xf5f5f5&style=element:labels.icon%7Cvisibility:off&style=element:labels.text.fill%7Ccolor:0x616161&style=element:labels.text.stroke%7Ccolor:0xf5f5f5&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xbdbdbd&style=feature:poi%7Cvisibility:on&style=feature:poi%7Celement:geometry%7Ccolor:0xeeeeee&style=feature:poi%7Celement:geometry.fill%7Cvisibility:on&style=feature:poi%7Celement:labels.text%7Cvisibility:simplified%7Cweight:1&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x343a40%7Cvisibility:simplified&style=feature:poi.park%7Celement:geometry%7Ccolor:0xe5e5e5&style=feature:poi.park%7Celement:labels%7Cvisibility:off&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&style=feature:road%7Celement:geometry%7Ccolor:0xffffff&style=feature:road.arterial%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&style=feature:transit.line%7Celement:geometry%7Ccolor:0xe5e5e5&style=feature:transit.station%7Celement:geometry%7Ccolor:0xeeeeee&style=feature:transit.station%7Celement:labels%7Cvisibility:on&size=640x400&markers=size:large%7Ccolor:0x78B92E%7Clabel:%7C54.37733616018838,18.60883355140686" alt="Gabinet Rowanowaga Google Map" />	
        </a>
      </div>
      <div id="contact-info" class="col-12 col-lg-4 py-5 pl-5 pr-0">
          <h3 class="pl-2 mb-0"><b>mgr Patrycja Piekarczyk</b></h3>
        <hr>
        <div class="">
          <div class="row mx-auto">
            <p class="d-flex align-items-center"><i class="fa fa-phone fa-bg-circle-sm"></i>+48 883 657 833</p>
          </div>
          <div class="row mx-auto">
            <i class="fa fa-envelope-o fa-bg-circle-sm"></i>
            <p id="ide" class="ml-1"></p>
          </div>
          <div class="row mx-auto pt-1">
            <i class="fa fa-map-marker fa-bg-circle-sm" aria-hidden="true"></i>
            <div class="col-10 pl-0 pt-1">
              <p>80-244 Gdańsk<br>Grunwaldzka 76/78<br>pok. 426</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
   var username = "gab.rownowaga";
   var hostname = "gmail.com";
   var res = username + "@" + hostname;
   document.getElementById("ide").innerHTML = res;
   document.getElementById("ide2").innerHTML = res;
</script>

