<div class="bg-light-green text-primary py-3">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 col-lg-8">
	      <a target="_blank" class="google-map w-100" href="https://www.google.com/maps/place/Gabinet+%22R%C3%B3wnowaga%22+Dietetyk+Psycholog/@54.3835917,18.5891273,18z/data=!3m1!4b1!4m5!3m4!1s0x46fd0bacac98e107:0xa8ad75c649cb59d7!8m2!3d54.3835917!4d18.5902216" >
			    <%= image_tag "dietetyk_gdansk_google_maps.jpg", class: "img-map" %>
        </a>
      </div>
      <div id="contact-info" class="col-12 col-lg-4 py-5 pl-md-5">
          <div class="pl-2 text-dark">Psycholog | Dietetyk</div>
          <h3 class="pl-2 mb-0"><b>Patrycja Piekarczyk</b></h3>
        <hr>
        <div class="">
          <div class="row mx-auto">
            <p class="d-flex align-items-center"><i class="fa icon-phone fa-bg-circle-sm"></i>+48 883 657 833</p>
          </div>
          <div class="row mx-auto">
            <i class="fa icon-mail fa-bg-circle-sm"></i>
            <p id="ide" class="ml-1"></p>
          </div>
          <div class="row mx-auto pt-1">
            <i class="fa icon-location fa-bg-circle-sm" aria-hidden="true"></i>
            <div class="col-10 pl-0 pt-1">
              <p>Słonimskiego 6C/5<br>80-280 Gdańsk</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
   var username = "gab.rownowaga";
   var hostname = "gmail.com";
   var res = username + "@" + hostname;
   document.getElementById("ide").innerHTML = res;
   document.getElementById("ide2").innerHTML = res;
</script>

<script>
  var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
  if(isSafari){
    var dynamicScript = document.createElement('script'), scripts = document.scripts[0];
    dynamicScript.src = 'https://unpkg.com/intersection-observer';
    dynamicScript.async = true;
    scripts.parentNode.insertBefore(dynamicScript, scripts);
  }
  var images=document.querySelectorAll('[data-src]'),config={rootMargin:'0px 0px 50px 0px',threshold:0},observer=new IntersectionObserver(function(a,b){a.forEach(function(c){c.isIntersecting&&(preloadImage(c.target),b.unobserve(c.target))})},config);images.forEach(function(a){observer.observe(a)});function preloadImage(a){var b=a.getAttribute('data-src');b&&(a.src=b)}
</script>