<footer class="footer bg-primary py-2">
   <div class="container text-light text-center">
      <p class="m-0">© 2018 | <strong>Patrycja Piekarczyk</strong> All rights reserved</p>
   </div>
</footer>
