<div class="main-header">
  <div class="container">
    <div class="jumbotron">
      <div class="panel col-12 col-md-6 p-3 rounded text-light">
        <h1>Darmowa Konsultacja</h1>
        <p class="text-justify">Jeżeli chcesz zmienić swój sposób odżywiania, zadbać o zdrowie lub poprawić sylwetkę umów się
          na darmową konsultację. Przychodząc na pierwsze spotkanie nic nie tracisz, a wręcz przeciwnie,
          zyskujesz. Dowiedz się w jakiej kondycji jest Twoje ciało i uzyskaj odpowiedzi na nurtujące pytania.
          Pod koniec naszego spotkania to Ty zdecydujesz jaki będzie Twój kolejny krok.</p>
        <p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Darmowa konsultacja &raquo;
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
