<div class="main-header">
  <div class="container">
    <div class="jumbotron">
      <article class="panel col-12 col-md-6 p-4 rounded text-light">
        <h1 class="font-weight-bold">Dietetyk Gdańsk Wrzeszcz</h1>
        <p class="text-justify">Jeżeli chcesz zmienić swój sposób odżywiania, zadbać o <strong>zdrowie</strong> lub poprawić sylwetkę umów się
          na darmową konsultację z <strong>dietetykiem</strong>. Przychodząc na pierwsze spotkanie nic nie tracisz, a wręcz przeciwnie,
          <strong>zyskujesz</strong>. Odkryj w jakiej kondycji jest Twoje ciało i uzyskaj odpowiedzi na nurtujące pytania.
          Pod koniec naszego spotkania to Ty zdecydujesz jaki będzie Twój kolejny krok.
          <strong>Serdecznie zapraszam</strong> do mojego gabinetu w <strong>Gdańsku!</strong>
        </p>
        
        <a id="arrangeVisit" href="/kontakt" class="btn btn-primary font-weight-bold" >
           Umów wizytę
        </a>
      </article>
    </div>
  </div>
</div>
