<div class="bg-white py-5">
  <article class="container py-5">
    <h2 class="h1 englebert-600 text-center text-lg-left">Opinie</h2>
    <div class="header-underline mx-lg-0"></div>
    <div class="row pt-3">
      <div class="col-12 col-lg-4 pb-4">
        <span class="float-right pr-3">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
        <blockquote class="blockquote px-3 pl-lg-0 pr-lg-3">
          <i class="fa fa-quote-left fa-2"></i>
          <p class="mb-0 text-justify font-italic">
            Do Pani Patrycji przybyłam z niedowagą. Potrzebowałam porządnie ułożonej diety, ponieważ jako pracująca i aktywna osoba nie mam czasu jeść bardzo regularnych posiłków. Pani Patrycja przeanalizowała skład mojego ciała, a po przeprowadzonym wywiadzie ułożyła świetną dietę z prostymi do zrobienia posiłkami. Po paru tygodniach faktycznie moja waga się powoli zmienia ;) 
          </p>
          <footer class="blockquote-footer text-right">Jagoda N.</footer>
        </blockquote>
      </div>
      <div class="col-12 col-lg-4 pb-4">
        <span class="float-right pr-3">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
        <blockquote class="blockquote px-3">
          <i class="fa fa-quote-left fa-2"></i>
          <p class="mb-0 text-justify font-italic">
            W Gdańsku, a przede wszystkim we Wrzeszczu, znaleźć można wiele dietetyków. Szczęśliwie trafiłam na panią Patrycję. Serdecznie polecam. Profesjonalna konsultacja oraz dobrze i smacznie dobrane jadłospisy. Dietetyk godny zaufania :) 
          </p>
          <footer class="blockquote-footer text-right">Paulina S.</footer>
        </blockquote>
      </div>
      <div class="col-12 col-lg-4 pb-4">
        <span class="float-right">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
        <blockquote class="blockquote pl-3">
          <i class="fa fa-quote-left fa-2"></i>
          <p class="mb-0 text-justify font-italic">
            Nawiązałam kontakt z panią Patrycją, ponieważ jako wegetarianka z alergiami pokarmowymi miałam trudności z ułożeniem sobie diety. Bardzo profesjonalne podejście do tematu i szeroka wiedza to duże plusy pani Patrycji, a także to co dla mnie istotne dobranie takich produktów, które nie rujnują kieszeni. Polecam serdecznie! 
          </p>
          <footer class="blockquote-footer text-right">Anna J.</footer>
        </blockquote>
      </div>
    </div>
  </article>
</div>