<%= render "shared/contact_header" %>

<div class="bg-light pt-4">
  <div class="container">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <p class="h1 card-title text-primary">Formularz kontaktowy</p>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Wypełnij
        </button>
      </div>
    </div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXADZtpBtC4Zdrhh40pYgAxIecba_0OLg&callback=initMap"></script>
<%= render "shared/contact" %>

<%= render "shared/contact_modal" %>
