<% content_for :title, "Dietetyk Gdańsk - Kontakt" %>
<%= render "shared/contact_header" %>

<div class="pt-5 mt-2">
  <div class="container">
    <div id="contact-panel" class="jumbotron jumbotron-sm bg-white mb-0">
      
      <div class="row text-dark">
        
        <div class="col-sm-12 col-md-4 d-flex pt-3 pb-3 pb-md-0 justify-content-center border-right-lg">
          <div class="font-weight-bold">
            <div class="row justify-content-center">
              <i class="fa icon-phone fa-bg-circle fa-2x" aria-hidden="true"></i>
            </div>
            <div class="row justify-content-center mt-2">
              <p>+48 883 657 833</p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-4 d-flex pt-3 pb-3 pb-md-0 justify-content-center border-right-lg">
          <div class="font-weight-bold">
            <div class="row justify-content-center">
              <i class="fa icon-mail fa-bg-circle fa-2x" aria-hidden="true"></i>
            </div>
            <div class="row justify-content-center mt-2">
              <p id="ide"> </p>
  						<script>
                  var username = "gab.rownowaga";
      						var hostname = "gmail.com";
      						var res = username + "@" + hostname;
      						document.getElementById("ide").innerHTML = res;
  						</script>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 pt-3 pb-3 pb-md-0 align-items-center">
          <div class="font-weight-bold">
            <div class="row justify-content-center">
              <i class="fa icon-location fa-bg-circle fa-2x" aria-hidden="true"></i>
            </div>
            <div class="row justify-content-center text-center mt-2">
              <p>Słonimskiego 6C/5<br>80-280 Gdańsk</p>
            </div>
          </div>
        </div>
        
      </div>
        
    </div>
  </div>
</div>

<div class="text-dark py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <script>
       		function initMap() {
       				map = new google.maps.Map(document.getElementById("map2"), {
       				zoom: 15,
       				center: new google.maps.LatLng(54.3831168,18.5949745),
       				mapTypeId: 'roadmap',
       				streetViewControl: false,
       				mapTypeControl: false
       			});
       			var marker = new google.maps.Marker({
       				  position:  new google.maps.LatLng(54.3835917,18.5902216),
       				  map: map
       			});
       		}
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaCjzAFc6QAQq9NN-UAuncO-W3ZPkdzYY&callback=initMap"></script>
        
			  <div class="map" id="map2"></div>
			  
      </div>
      <div class="col-12 col-md-4 pl-4">
        
        <div class="znany-lekarz pt-5 pt-lg-0">
          <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/patrycja-piekarczyk/psycholog-dietetyk/gdansk" rel="nofollow" data-zlw-doctor="patrycja-piekarczyk" data-zlw-type="big_visit" data-zlw-opinion="false" data-zlw-hide-branding="true">Patrycja Piekarczyk - ZnanyLekarz.pl</a><script>!function($_x,_s,id){var js,fjs2=$_x.getElementsByTagName(_s);fjs=fjs2[0];for (var i = 0; i < fjs2.length; i++) {if (fjs2[i].id == id) {fjs2[i].parentNode.removeChild(fjs2[i]);break;}};if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//www.docplanner-platform.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
        </div>
        <div class="center-childreen">
          <div class="fb-like" data-href="https://dietetyk-rownowaga.gda.pl" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
        </div>
       <div id="fb-root" data-turbolinks-permanent ></div>
        <script>
          $(document).ready(function() {
              var js, fjs=document.getElementsByTagName('script')[0];
              if (document.getElementById('facebook-jssdk')) return;
              js = document.createElement('script'); js.id = 'facebook-jssdk';
              js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.1';
              fjs.parentNode.insertBefore(js, fjs);
          });
          
          document.addEventListener("turbolinks:load", function() {
            if(window.FB) {
              FB.XFBML.parse();
            }
          });
        </script>
        
      </div>
  
    </div>
  </div>
</div>
