<% content_for :title, "Patrycja Piekarczyk - strona o mnie" %>
<% content_for :description, "Potrzebujesz indywidualnej diety? Mieszkasz w Gdańsku? Dowiedz się więcej o mnie aby przekonać się w czym mogę Ci pomóc!" %>
<%= render "shared/about-me_header" %>

<div class="bg-light my-3">
  <div class="container py-4">
    <div class="row">
      <div id="about-img" class="col-md-6 col-lg-5 col-xl-4 order-md-2 text-center text-md-right pb-5 pb-md-0">
        <%= image_tag "patrycja_piekarczyk.jpg", width: "360" %>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-8">
        <h2 class="text-primary englebert-600 text-center text-lg-left">Patrycja Piekarczyk</h2>
        <div class="header-underline mx-lg-0"></div>
        <div class="row no-gutters pr-md-4">
          <h5>Idea działalności</h5>
          <p class="text-justify pb-2">Idea działalności, którą prowadzę zrodziła się z moich naukowych zainteresowań, którymi są: dietoterapia dzieci z całościowymi zaburzeniami rozwoju, zaburzenia odżywiania dzieci i młodzieży oraz osób dorosłych.</p>
          <h5>Osobiste doświadczenia</h5>
          <p class="text-justify pb-2">Dodatkowym czynnikiem mającym wpływ na moją ścieżkę zawodową są osobiste doświadczenia związane z odchudzaniem, często niezdrowym a w rezultacie nieskutecznym. Dlatego też, do każdego klienta mam indywidualne podejście, aby zmaksymalizować efekt końcowy. Od kilku lat pracuję z najmłodszymi, w różnych placówkach.</p>
          <h5>Możliwości</h5>
          <p class="text-justify">Doświadczenia te pozwoliły mi nauczyć się podążać za dzieckiem, za jego oczekiwaniami i potrzebami. Połączenie wiedzy z tych dwóch obszarów naukowych daje mi ogromne możliwości w pracy z klientem na różnych płaszczyznach jego życia.</p>
        </div>

        <div class="row no-gutters pb-4 pb-md-0">
          <nav class="nav">
              <a href="https://www.facebook.com/dietetykgdanskwrzeszcz/" class="nav-link"><i class="fa icon-facebook2 fa-2x"></i></a>
              <a href="https://pl.linkedin.com/in/patrycja-piekarczyk-ba7362147" class="nav-link"><i class="fa icon-linkedin fa-2x"></i></a>
              <a href="#" class="nav-link"><i class="fa icon-instagram fa-2x"></i></a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
