<%= render "shared/pricing_header" %>

<div class="bg-light py-3 mt-2">
  <div class="container">
    <div class="row no-gutters mb-4">
      <div class="card pricing-card w-100 text-dark bg-primary-light">
        <p class="h2 card-header bg-primary text-white text-center">Pakiet odchudzający</p>
        <div class="row no-gutters card-body">
          <div class="col-12 col-lg-7 text-center d-flex align-items-center justify-content-center">
            <p class="display-4"><strong>300 zł</strong></p>
          </div>
          <div class="col-12 col-lg-5">
            <ul class="m-0">
              <li>Wizyta konsultacyjna (1 x 60 min)</li>
              <li>Wizyta kontrolna ( 2 x 30 min)</li>
              <li>Analiza składu ciała ( 3 pomiary)</li>
              <li>Jadłospis ( 2 x 14-dniowy)</li>
              <li>Stały kontakt z dietetykiem (mailowy / telefoniczny)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters mb-0 mb-sm-4">
      <div class="card-deck">
        <div class="card pricing-card text-dark bg-primary-light mb-4 mb-sm-0">
          <div class="card-header bg-primary text-white text-center"><h5>Wizyta konsultacyjna</h5></div>
          <div class="card-header price-card-header text-center p-3">
            <h4>Bezpłatna</h4>
          </div>
          <div class="card-body">
            <ul>
              <li>Wywiad żywieniowy</li>
              <li>Analiza składu ciała</li>
              <li>Omówienie wyników</li>
              <li>Określenie celu</li>
              <li>Ustalenie realnych celów dietoterapii</li>
            </ul>
          </div>
        </div>

        <div class="card pricing-card text-dark bg-primary-light mb-4 mb-sm-0">
          <div class="card-header bg-primary text-white text-center"><h5>Doradztwo żywieniowe</h5></div>
          <div class="card-header price-card-header text-center p-3"><h4>70 zł</h4></div>
          <div class="card-body">
            <ul>
              <li>Wywiad żywieniowy</li>
              <li>Omówienie dzienniczka żywieniowego</li>
              <li>Wskazanie dobrych i złych nawyków żywieniowych</li>
              <li>Wskazówki żywieniowe</li>
              <li>Analiza składu masy ciała</li>
            </ul>
          </div>
        </div>

        <div class="w-100 d-none d-sm-block d-lg-none mb-4"></div>

        <div class="card pricing-card text-dark bg-primary-light mb-4 mb-sm-0">
          <div class="card-header bg-primary text-white text-center"><h5>Jadłospis 7-dniowy</h5></div>
          <div class="row no-gutters card-header price-card-header text-center p-1 py-2">
            <div class="col">Indywidualny</br>85 zł</div>
            <div class="col">Partnerski</br>120 zł</div>
          </div>
          <div class="card-body">
            <ul>
              <li>Układany na podstawie indywidualnych preferencji żywieniowych pacjenta</li>
              <li>Do stosowania przez 14 dni</li>
            </ul>
          </div>
        </div>

        <div class="card pricing-card text-dark bg-primary-light mb-4 mb-sm-0">
          <div class="card-header bg-primary text-white text-center"><h5>Jadłospis 14-dniowy</h5></div>
          <div class="row no-gutters card-header price-card-header text-center p-1 py-2">
            <div class="col">Indywidualny</br>150 zł</div>
            <div class="col">Partnerski</br>200 zł</div>
          </div>
          <div class="card-body">
            <ul>
              <li>Układany na podstawie indywidualnych preferencji żywieniowych pacjenta</li>
              <li>Do stosowania przez 28 dni</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters mb-4">
      <div class="card pricing-card w-100 text-dark bg-primary-light">
        <div class="card-header bg-primary text-white text-center"><h5>Usługi dodatkowe</h5></div>
        <div class="row no-gutters card-body flex-column flex-md-row">
          <div class="col-12 col-md-4 text-center d-flex flex-row flex-md-column">
            <h5 class="card-title text-dark col-sm-12 col-md-auto p-0">Wizyta kontrolna</h5>

            <div class="row no-gutters">
              <div class="col">Dzieci</br>20 zł</div>
              <div class="col">Dorośli</br>30 zł</div>
              <div class="col">Pary</br>50 zł</div>
            </div>
          </div>
          <div class="col-12 col-md-4 text-center d-flex flex-row flex-md-column">
            <h5 class="card-title text-dark col-4 col-md-auto p-0">Analiza składu ciała</br></br> 20 zł</h5>
          </div>
          <div class="col-12 col-md-4 text-center d-flex flex-row flex-md-column">
            <h5 class="card-title text-dark col-4 col-md-auto p-0">Konsultacja psychologiczna</br></br> 70 zł</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
