@import "custom";

.btn{ border-radius: 0px !important;}
.btn-primary {
   color: $white !important;
   cursor: pointer;
}

.jumbotron.jumbotron-sm{
   padding: 1rem;
   border: 1px solid rgba(0, 0, 0, 0.125);
}

.fa.fa-check, .card-title, .fa.fa-star{
   color: $my-primary;
}

blockquote{
   font-size: 1.15rem !important;
   
   .fa-quote-left{
      margin-left: -15px;} 
   
   .blockquote-footer{
      color: $my-primary;
   }
}

#online-consulting {
   .fa-skype { padding-right: 10px;}
   .fa-envelope-o { padding-right: 8px;}
}

#contact-info {
   font-size: 1.1rem;
   font-weight: 600;
   
   .fa { background-color: $my-primary !important; }
   
   .fa-envelope-o { margin-right: 8px; }
   .fa-phone { margin-right: 10px; }
   .fa-map-marker { margin-right: 12px; }
}

.btn-primary {
    color: $white !important;
    background-color: $my-primary;
    padding: 0.375rem 0.75rem;
    
    &:hover{
       background-color: $my-primary-dark
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease
}