@import "custom";

.btn{ border-radius: 0px !important;}
.btn-primary {
   color: $white !important;
   cursor: pointer;
}

.jumbotron.jumbotron-sm{
   padding: 1rem;
   border: 1px solid rgba(0, 0, 0, 0.125);
}

.fa.icon-check, .card-title, .fa.icon-star {
   color: $my-primary;
}

.icon-frown { color: $orange }

#contact-panel {
   .fa { 
      &:before { margin-right: 1px;}
   }
}


blockquote{
   font-size: 1.15rem !important;
   
   .icon-quote-left{
      margin-left: -15px;} 
   
   .blockquote-footer{
      color: $my-primary;
   }
}

#online-consulting {
   .icon-skype { padding-right: 10px;}
   .icon-mail { padding-right: 8px;}
}

#contact-info {
   font-size: 1.1rem;
   font-weight: 600;
   
   .fa { background-color: $my-primary !important; }
   
   .icon-mail { margin-right: 8px; }
   .icon-phone { margin-right: 10px; }
   .icon-location { margin-right: 12px; }
}

.btn-primary {
    color: $white !important;
    background-color: $my-primary;
    padding: 0.375rem 0.75rem;
    
    &:hover{
       background-color: $my-primary-dark
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease
}