@import "custom";
@import "overrides";
@import "bootstrap";
@import "font-awesome";
@import "blogs";
@import "pages";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

.navbar {
  .navbar-brand {
    .logo {
      position: absolute;
      top: 10px;
    }
  }
}

.main-header {
   background: image-url('header.jpg') no-repeat;
   min-height: 500px;
}

.about-me-header {
   background: image-url('header.jpg') no-repeat;
}

.pricing-header {
   background: image-url('header.jpg') no-repeat;
}

.offer-header {
   background: image-url('header.jpg') no-repeat;
}

.recipes-header {
   background: image-url('header.jpg') no-repeat;
}

.blog-header {
   background: image-url('header.jpg') no-repeat;
}

.contact-header {
   background: image-url('header.jpg') no-repeat;
}

.contact-header,
.pricing-header,
.offer-header,
.recipes-header,
.blog-header {
   min-height: 200px;
 }

.contact-header,
.offer-header,
.recipes-header,
.blog-header,
.pricing-header,
.about-me-header,
.main-header {
   background-position: right;
   background-size: cover;

   .jumbotron {
      background-color: transparent;

      .panel {
         background-color: #2727274d;
      }
   }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pricing-card {
  .price-card-header {
    height: 70px;
  }

  .card-body {
    ul {
      padding-left: 20px;

      li {
        padding-bottom: .8rem;
      }
    }
  }
}

.offer-card {
  background: image-url('offer-jumbo.jpeg') no-repeat;
  background-position: right;
  background-size: cover;
  min-height: 360px;
}

.map {
    width: 100%;
    height: 100%;
}

.map .gmnoprint img {
    max-width: none;
    max-height: none;
}

.map-container {
	position: relative;
	overflow: hidden;
	width: 100%;
  height: 100%;
}
.map-container:before, .map-container:after, .map:before, .map:after {
	position: absolute;
	display: block;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	content: '';
	z-index: 5;
}
.map-container:before {
	top: -5px;
	left: 0;
	right: 0;
	height: 5px;
}
.map-container:after {
	right: -5px;
	top: 0;
	bottom: 0;
	width: 5px;
}
.map:before{
	bottom: -5px;
	left: 0;
	right: 0;
	height: 5px;
}
.map:after{
	left: -5px;
	top: 0;
	bottom: 0;
	width: 5px;
}



input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  //background: #2a6495;
  background: #78B92E;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  //background: #3071a9;
  background: #78B92E;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  //background: #3071a9;
  background: #78B92E;
}
input[type=range]:focus::-ms-fill-upper {
  //background: #367ebd;
  background-color: #78B92E;
}

#height, #weight{
	max-width: 80px;
}

.bmi-cal{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}