@import "custom";
@import "overrides";
@import "bootstrap";
@import "font-awesome";
@import "blogs";
@import "pages";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;  
  .navbar-brand {
    .logo {
      position: absolute;
      top: 10px;
    }
  }
}

.main-header {
   background: image-url('header.jpg') no-repeat;
   min-height: 500px;
}

.about-me-header {
   background: image-url('header.jpg') no-repeat;
}

.pricing-header {
   background: image-url('header.jpg') no-repeat;
}

.offer-header {
   background: image-url('header.jpg') no-repeat;
}

.recipes-header {
   background: image-url('header.jpg') no-repeat;
}

.blog-header {
   background: image-url('header.jpg') no-repeat;
}

.contact-header {
   background: image-url('header.jpg') no-repeat;
}

.contact-header,
.pricing-header,
.offer-header,
.recipes-header,
.blog-header {
   min-height: 200px;
 }

.contact-header,
.offer-header,
.recipes-header,
.blog-header,
.pricing-header,
.about-me-header,
.bmi-img,
.main-header {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999; 
   background-position: right;
   background-size: cover;

   .jumbotron {
      background-color: transparent;

      .panel {
         background-color: #2727274d;
      }
   }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pricing-card {
  .price-card-header {
    height: 70px;
  }

  .card-body {
    ul {
      padding-left: 20px;

      li {
        padding-bottom: .8rem;
      }
    }
  }
}

.offer-card {
  background: image-url('offer-jumbo.jpg') no-repeat;
  background-position: right;
  background-size: cover;
  min-height: 360px;
}

.recipes-deck {
  .card {
    max-width: 348px;
  }
}

.ml-100{
    margin-left: 100px;
}

.map-container {
	position: relative;
	overflow: hidden;
	min-width: 640px;
    min-height: 400px;
    max-width: 640px;
    max-height: 400px;
    
}
.map-container:before, .map-container:after, .map:before, .map:after {
	position: absolute;
	display: block;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	content: '';
	z-index: 5;
}
.map-container:before {
	top: -5px;
	left: 0;
	right: 0;
	height: 5px;
}
.map-container:after {
	right: -5px;
	top: 0;
	bottom: 0;
	width: 5px;
}
.map:before {
	bottom: -5px;
	left: 0;
	right: 0;
	height: 5px;
}
.map:after {
	left: -5px;
	top: 0;
	bottom: 0;
	width: 5px;
}

#height, #weight {
	max-width: 80px;
}

.bmi-cal{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.shade-bottom {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999; 
}

.bmi-img{
    background: image-url('bmi.jpg') no-repeat;
    background-size: 100%
}

.container-bmi{
    max-width: 800px;
    height: 480px;
}

.map-api{
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=54.38008248278,18.60375881195&zoom=15&scale=1&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C54.37733616018838,18.60883355140686);
}