@import "custom";
@import "overrides";
@import "bootstrap";
@import "font-awesome";
@import "blogs";
@import "pages";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

.navbar {
  .navbar-brand {
    .logo {
      position: absolute;
      top: 10px;
    }
  }
}

.main-header {
   background: image-url('header.jpeg') no-repeat;
   min-height: 500px;
}

.about-me-header {
   background: image-url('header.jpeg') no-repeat;
}

.pricing-header {
   background: image-url('header.jpeg') no-repeat;
}

.offer-header {
   background: image-url('header.jpeg') no-repeat;
}

.recipes-header {
   background: image-url('header.jpeg') no-repeat;
}

.blog-header {
   background: image-url('header.jpeg') no-repeat;
}

.contact-header {
   background: image-url('header.jpeg') no-repeat;
}

.contact-header,
.pricing-header,
.offer-header,
.recipes-header,
.blog-header {
   min-height: 200px;
 }

.contact-header,
.offer-header,
.recipes-header,
.blog-header,
.pricing-header,
.about-me-header,
.main-header {
   background-position: right;
   background-size: cover;

   .jumbotron {
      background-color: transparent;

      .panel {
         background-color: #2727274d;
      }
   }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pricing-card {
  .price-card-header {
    height: 70px;
  }

  .card-body {
    ul {
      padding-left: 20px;

      li {
        padding-bottom: .8rem;
      }
    }
  }
}

.offer-card {
  background: image-url('offer-jumbo.jpeg') no-repeat;
  background-position: right;
  background-size: cover;
  min-height: 360px;
}
