.main-header {
   min-height: 500px;
   h1{ font-size: 2rem; }
}

@include media-breakpoint-only(xs) {
    .main-header, .common-header{ background: url('#{$cdnURL}gabinet-rownowaga/static/dietetyk_gdansk_header_xs.jpg') no-repeat; }
}
@include media-breakpoint-only(sm) {
    .main-header, .common-header{ background: url('#{$cdnURL}gabinet-rownowaga/static/dietetyk_gdansk_header_sm.jpg') no-repeat; }
}
@include media-breakpoint-only(md) {
    .main-header, .common-header{ background: url('#{$cdnURL}gabinet-rownowaga/static/dietetyk_gdansk_header_md.jpg') no-repeat; }
}
@include media-breakpoint-only(md) {
    .main-header, .common-header{ background: url('#{$cdnURL}gabinet-rownowaga/static/dietetyk_gdansk_header_md.jpg') no-repeat; }
}
@include media-breakpoint-only(lg) {
    .main-header, .common-header{ background: url('#{$cdnURL}gabinet-rownowaga/static/dietetyk_gdansk_header_lg.jpg') no-repeat; }
}
@include media-breakpoint-up(xl) {
    .main-header, .common-header{
        background: url('#{$cdnURL}gabinet-rownowaga/static/dietetyk_gdansk_header_xl.jpg') no-repeat;}
}


@include media-breakpoint-down(sm) {
    .common-header{ 
        h1{ font-size: 4rem !important; }
    }
}

.common-header{
   min-height: 200px;
   h1{ 
       font-size: 6rem;
       line-height: 200px;
       padding-left: calc(30% - 140px);
       color: $my-text-dark;
       font-family: 'Allura', cursive;
       text-shadow: 2px 2px #f8f9ff;
   }
 }

.common-header,
.main-header {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999; 
    background-position: right;
    background-size: cover;

   .jumbotron {
      background-color: transparent;

      .panel {
         background-color: #27272766;
      }
   }
}