.englebert-600{
    font-family: 'Englebert', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    &.nospace{ letter-spacing: 0px; }
}

h2.englebert-600{
    color: $my-primary;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 40px;
}

.text-orange { color: $orange !important; }
.text-logo-blue { color: #088AC9 !important; }
.text-black { color: $black !important; }

.bg-white { background-color: $white; }
.bg-light-green { background: #f8fff0; }

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;  
  .navbar-brand {
    .logo {
      position: absolute;
      top: 10px;
    }
    .h2 { margin-bottom: -8px !important }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  nav {
    position: absolute;
    top: 8px;
    right: 5px;
    a {
      color: white;
      padding-top: 0px;
      padding: 0 0.5rem;
        i { font-size: 1.5em; }
        
    }
  }
}