.englebert-600{
    font-family: 'Englebert', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    &.nospace{ letter-spacing: 0px; }
}

.englebert-sm{
  font-family: "englebert";
  letter-spacing: 1px;
  font-size: 18px;
}

h2.englebert-600{
    color: $my-primary;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 40px;
}

.text-orange { color: $orange !important; }
.text-logo-blue { color: #088AC9 !important; }
.text-black { color: $black !important; }

.bg-white { background-color: $white; }
.bg-light-green { background: #f8fff0; }

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;  
  .navbar-brand {
    .logo {
      position: absolute;
      top: 10px;
    }
    .h2 { margin-bottom: -8px !important }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  nav {
    position: absolute;
    top: 8px;
    right: 5px;
    a {
      color: white;
      padding-top: 0px;
      padding: 0 0.5rem;
        i { font-size: 1.5em; }
        
    }
  }
}

.list-group {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  // No need to set list-style: none; since .list-group-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -$list-group-border-width;
  background-color: $list-group-bg;
  border: $list-group-border-width solid $list-group-border-color;
  
  p { margin-bottom: 0px; }

  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }

  @include hover-focus {
    z-index: 1; // Place hover/active items above their siblings for proper border styling
    text-decoration: none;
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    background-color: $list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }
}
